/Landing/.vs
/Ujin/.vs
/Ujin/Ujin/wwwroot
*.log
*.dll
*.exe
*.pdb
*.css
/Landing/Landing/obj
/Landing/Landing/bin
/Landing/wwwroot
!Landing/wwwroot/images
!Landing/wwwroot/lib
/Landing/Landing/node_modules
/Landing/node_modules
