@model Landing.Pages.Mobile.AboutModel

<div class="about-page page-background">
    <div class="about-header">
        About heading
    </div>
    <div class="about-sub-header">
        vulputate eu pharetra nec, mattis ac neque. Duis vulputate
    </div>
    <div class="about-image-wrapper">
        <img class="about-image" src="~/images/about_author.jpg" />
    </div>
    <div class="about-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.
        Duis vulputate commodo lectus, ac blandit elit tincidunt id. 
        Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit
    </div>
</div>
