@model Landing.Pages.Mobile.IconLineModel

<div class="icon-line">
    @foreach (var icon in Model.IconItems)
    {
        <a class="icon-link @icon.Class" href="@icon.Link">
            <img class="icon-image" src="@icon.Icon" />
        </a>
    }
</div>

