@model Landing.Pages.Mobile.IndexModel

<div class="mobile-device">
    <div class="page page0">
        @await Html.PartialAsync("~/Pages/Mobile/Logo.cshtml", new Mobile.LogoModel())
    </div>
    <div class="page page1">
        @await Html.PartialAsync("~/Pages/Mobile/Step.cshtml", new Mobile.StepModel())
    </div>
</div>

