.desktop-device {
  background-color: black;
}
.mobile-device {
  width: 100%;
  height: 100%;
  background-image: url("/images/background_logo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mobile-device .page-background {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mobile-device .logo-page {
  background-image: url("/images/background_logo.jpg");
}
.mobile-device .logo-page .main-logo {
  margin-bottom: 0;
  margin-top: 0;
  position: absolute;
  top: 150px;
  width: 100%;
  text-align: center;
  color: #F5F5F5;
}
.mobile-device .logo-page .logo-text {
  position: absolute;
  bottom: 100px;
  width: 100%;
  background-color: rgba(96, 96, 96, 0.5);
  color: #F5F5F5;
  padding: 20px 40px;
  font-size: 12px;
}
html,
body,
.body-content {
  height: 100%;
  width: 100%;
}
